.active {
  border-bottom: 1px solid #007bff !important;
}

.email-preview {
  height: 300px;
  overflow-y: scroll;
  cursor: pointer;
}
main {
  white-space: pre-wrap;
}
.select-user {
  width: 100px;
}
